:root {
  --color-tertiary-fixed: 255 218 219;
  --color-on-tertiary: 255 255 255;
  --color-on-primary-container: 7 89 133;
  --color-surface: 255 255 255;
  --color-on-primary: 255 255 255;
  --color-surface-container-high: 203 213 225;
  --color-on-surface: 15 23 42;
  --color-surface-container: 226 232 240;
  --color-primary-fixed-dim: 76 215 246;
  --color-secondary-container: 224 231 255;
  --color-inverse-surface: 225 226 236;
  --color-inverse-primary: 0 104 122;
  --color-surface-dim: 16 19 26;
  --color-on-primary-fixed: 0 31 38;
  --color-surface-tint: 76 215 246;
  --color-tertiary: 225 29 72;
  --color-tertiary-container: 255 228 230;
  --color-on-secondary: 255 255 255;
  --color-on-error: 255 255 255;
  --color-on-tertiary-container: 159 18 57;
  --color-on-secondary-fixed: 0 7 103;
  --color-error: 220 38 38;
  --color-error-container: 254 226 226;
  --color-on-background: 225 226 236;
  --color-surface-container-low: 241 245 249;
  --color-on-tertiary-fixed: 64 0 13;
  --color-surface-container-lowest: 255 255 255;
  --color-primary: 2 132 199;
  --color-outline-variant: 203 213 225;
  --color-on-error-container: 153 27 27;
  --color-outline: 100 116 139;
  --color-on-secondary-fixed-variant: 47 58 163;
  --color-surface-bright: 54 57 65;
  --color-secondary: 79 70 229;
  --color-on-primary-fixed-variant: 0 78 92;
  --color-primary-fixed: 172 237 255;
  --color-on-tertiary-fixed-variant: 146 0 42;
  --color-tertiary-fixed-dim: 255 178 183;
  --color-on-secondary-container: 49 46 129;
  --color-primary-container: 224 242 254;
  --color-secondary-fixed-dim: 189 194 255;
  --color-secondary-fixed: 224 224 255;
  --color-background: 248 250 252;
  --color-surface-container-highest: 148 163 184;
  --color-on-surface-variant: 71 85 105;
  --color-surface-variant: 50 53 61;
  --color-inverse-on-surface: 45 48 56;
}

.dark {
  --color-tertiary-fixed: 255 218 219;
  --color-on-tertiary: 103 0 27;
  --color-on-primary-container: 0 66 79;
  --color-surface: 16 19 26;
  --color-on-primary: 0 54 64;
  --color-surface-container-high: 39 42 50;
  --color-on-surface: 225 226 236;
  --color-surface-container: 29 31 39;
  --color-primary-fixed-dim: 76 215 246;
  --color-secondary-container: 47 58 163;
  --color-inverse-surface: 225 226 236;
  --color-inverse-primary: 0 104 122;
  --color-surface-dim: 16 19 26;
  --color-on-primary-fixed: 0 31 38;
  --color-surface-tint: 76 215 246;
  --color-tertiary: 255 178 183;
  --color-tertiary-container: 255 127 139;
  --color-on-secondary: 19 30 140;
  --color-on-error: 105 0 5;
  --color-on-tertiary-container: 125 0 35;
  --color-on-secondary-fixed: 0 7 103;
  --color-error: 255 180 171;
  --color-error-container: 147 0 10;
  --color-on-background: 225 226 236;
  --color-surface-container-low: 25 27 35;
  --color-on-tertiary-fixed: 64 0 13;
  --color-surface-container-lowest: 11 14 21;
  --color-primary: 76 215 246;
  --color-outline-variant: 61 73 76;
  --color-on-error-container: 255 218 214;
  --color-outline: 134 147 151;
  --color-on-secondary-fixed-variant: 47 58 163;
  --color-surface-bright: 54 57 65;
  --color-secondary: 189 194 255;
  --color-on-primary-fixed-variant: 0 78 92;
  --color-primary-fixed: 172 237 255;
  --color-on-tertiary-fixed-variant: 146 0 42;
  --color-tertiary-fixed-dim: 255 178 183;
  --color-on-secondary-container: 168 175 255;
  --color-primary-container: 6 182 212;
  --color-secondary-fixed-dim: 189 194 255;
  --color-secondary-fixed: 224 224 255;
  --color-background: 16 19 26;
  --color-surface-container-highest: 50 53 61;
  --color-on-surface-variant: 188 201 205;
  --color-surface-variant: 50 53 61;
  --color-inverse-on-surface: 45 48 56;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-surface antialiased overflow-x-hidden selection:bg-primary-container selection:text-on-primary-container;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(11, 14, 21, 0.5);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(61, 73, 76, 0.4);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(76, 215, 246, 0.4);
}